* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #222222;
    color: white;
    font-family: 'Fira Sans', 'Comic Sans MS', sans-serif;
}

#stage {
    background-color: #121212;
    width: 600px;
    height: 300px;

}

.country {
    background-color: white;
    position: absolute;
    border-radius: 100%;
}