* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
position: absolute;
width: 600px;
height: 103px;
left: 69px;
top: 72px;

font-family: 'IBM Plex Sans', sans-serif;
font-size: 39.06px;
line-height: 51px;

color: rgba(255, 255, 255, 0.8);
}

body {
    background-color: #121212;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

.talk-to{
    position: absolute;
    width: 350px;
    height: 26px;
    left: 72px;
    top: 747px;
    color: white;
    opacity: 0.38;
}

span.coworkers{
    font-family: IBM Plex Sans, sans-serif;
    font-size: 25px;
    color: #6AAAE5;
}
span.supervisor{
    font-family: IBM Plex Sans, sans-serif;
    font-size: 25px;
    color: #D6EBFF;
}

.coworkers-yes{
    position: absolute;
    width: 64px;
    height: 33px;
    left: 152px;
    top: 784px;

    font-family: IBM Plex Sans, sans-serif;
    font-size: 25px;
    text-align: center;
    color: #6AAAE5;
    opacity: 0.9;
}
.coworkers-some{
    position: absolute;
    width: 69px;
    height: 33px;
    left: 213px;
    top: 784px;

    font-family: IBM Plex Sans, sans-serif;
    font-size: 25px;
    text-align: center;
    color: #6AAAE5;
    opacity: 0.9;
}
.coworkers-no{
    position: absolute;
    width: 64px;
    height: 33px;
    left: 280px;
    top: 784px;

    font-family: IBM Plex Sans, sans-serif;
    font-size: 25px;
    text-align: center;
    color: #6AAAE5;
    opacity: 0.9;
}
.supervisor-yes{
    position: absolute;
    width: 41px;
    height: 33px;
    left: 72px;
    top: 824px;

    font-family: IBM Plex Sans, sans-serif;
    font-size: 25px;
    color: #D6EBFF;
    opacity: 0.9;
}
.supervisor-some{
    position: absolute;
    width: 65px;
    height: 33px;
    left: 72px;
    top: 872px;

    font-family: IBM Plex Sans, sans-serif;
    font-size: 25px;
    color: #D6EBFF;
    opacity: 0.9;
}
.supervisor-no{
    position: absolute;
    width: 32px;
    height: 33px;
    left: 72px;
    top: 920px;


    font-family: IBM Plex Sans, sans-serif;
    font-size: 25px;
    color: #D6EBFF;
    opacity: 0.9;
}

#stage {
    background-color: #121212;
    width: 1440px;
    height: 1024px;

}

#hoverLabel {
    position: absolute;
    width: 204px;
    height: 128px;
    top: 192px;
    left: 72px;
    margin-top: 5px;
}

.button{
    position: absolute;
    background-color: #121212;
    color: white;
    border: none;
    font-size: 25px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.where {
    top: 123px;
    left: 72px;
    color: #73C7F0;
}
.interfere {
    top: 123px;
    left: 176px;
    color: #D6EBFF;
}
.talkAbout {
    top: 123px;
    left: 288px;
    color: #996EF4;
}


.cons-yes{
    position: absolute;
}
.cons-no{
    position: absolute;
}
.cons-maybe{
    position: absolute;
}


.consequences {
    top: 344px;
    left: 72px;
    color: rgba(255, 255, 255, 0.38);
}
.yesCon {
    top: 384px;
    left: 72px;
    color: rgba(255, 255, 255, 0.87);
}
.maybeCon {
    top: 384px;
    left: 136px;
    color: rgba(255, 255, 255, 0.87);
}
.noCon {
    top: 384px;
    left: 241px;
    color: rgba(255, 255, 255, 0.87);
}


.gender-female {
    position: absolute;
}
.gender-male {
    position: absolute;
}


.gender {
    top: 544px;
    left: 72px;
    color: rgba(255, 255, 255, 0.38);
}
.femaleCon {
    top: 584px;
    left: 72px;
    color: rgba(255, 255, 255, 0.87);
}
.maleCon {
    top: 584px;
    left: 184px;
    color: rgba(255, 255, 255, 0.87);
}
.talkTo {
    top: 744px;
    left: 72px;
    color: rgba(255, 255, 255, 0.38);
}

.yes-yes{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 168px;
    top: 824px;

    border-radius: 50%;
    background: #77CDF7;
    opacity: 0.9;
}
.some-yes{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 232px;
    top: 824px;

    border-radius: 50%;
    background: #5CE2B6;
    opacity: 0.9;
}
.no-yes{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 296px;
    top: 824px;

    border-radius: 50%;
    background: #E6EB59;
    opacity: 0.9;
}
.yes-some{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 168px;
    top: 872px;

    border-radius: 50%;
    background: #52A5FF;
    opacity: 0.9;
}
.some-some{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 232px;
    top: 872px;

    border-radius: 50%;
    background: #C4C4C0;
    opacity: 0.9;
}
.no-some{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 296px;
    top: 872px;

    border-radius: 50%;
    background: #FCB055;
    opacity: 0.9;
}
.yes-no{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 168px;
    top: 920px;

    border-radius: 50%;
    background: #996EF4;
    opacity: 0.9;
}
.some-no{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 232px;
    top: 920px;

    border-radius: 50%;
    background: #F764A6;
    opacity: 0.9;
}
.no-no{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 296px;
    top: 920px;

    border-radius: 50%;
    background: #F56E4C;
    opacity: 0.9;
}

.country {
    background-color: rgba(106, 170, 299, 0.8);
    position: absolute;
    border-radius: 100%;
}

.familybackground {
    background-color: rgb(115, 199, 240);
    position: absolute;
    box-sizing: border-box;
    border-radius: 100%;
}

.ageGroup {
    background-color: rgba(115, 199, 240, 0.8);
    position: absolute;
    box-sizing: border-box;
    border-radius: 100%;
}

.hover {
    background-color: rgba(247, 96, 200, 0.8);
}